.no-color-link,
.no-color-link:link,
.no-color-link:visited,
.no-color-link:hover,
.no-color-link:active {
  color: inherit; /* Inherits the color of the parent element's text */
  text-decoration: none; /* Removes the default underline */
  cursor: pointer; /* Ensures the cursor changes to a hand icon on hover */
}

.page-label {
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; 
  width: 540px; 
  object-fit: cover;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.05);
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;  /* Adds consistent spacing between icon and text */
  font-weight: 600;
  cursor: pointer;
}

.nav-icon {
  height: 36px;
  width: 36px;
  object-fit: contain;
}

.nav-text {
  font-size: 12px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.email {
  font-size: 18px;
  margin-top: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.settings-options {
  list-style-type: none;
}